<ion-card *ngIf="pokemon$ | async as pokemon" color="dark">
  <ion-card-content>
    <div class="content-container">
      <ion-thumbnail>
        <img
          [alt]="pokemon.names['English']"
          [src]="
            pokemon.assets.image ||
            'https://assets.pokemon.com/assets/cms2/img/pokedex/detail/' +
              pokemon.dexNr +
              '.png'
          "
        />
      </ion-thumbnail>
      <div *ngIf="badgeConfig$ | async as badges" class="badge-container">
        <ion-chip
          *ngFor="let badge of badges"
          [ngStyle]="{
          '--background': badge.color,
        }"
          >{{ badge.text }}</ion-chip
        >
      </div>
      <div class="stats-container">
        <div>
          Attack: <span>{{ pokemon.stats.attack }}</span>
        </div>
        <div>
          Defense: <span>{{ pokemon.stats.defense }}</span>
        </div>
        <div>
          Stamina: <span>{{ pokemon.stats.stamina }}</span>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Enter IV's</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-input
      label="Attack"
      label-placement="fixed"
      fill="outline"
      type="number"
      min="0"
      max="15"
      autocomplete="off"
      [clearInput]="true"
      (ionInput)="handleAttackChange($event.detail.value || '')"
    ></ion-input>
    <ion-input
      label="Defense"
      label-placement="fixed"
      fill="outline"
      type="number"
      min="0"
      max="15"
      autocomplete="off"
      [clearInput]="true"
      (ionInput)="handleDefenseChange($event.detail.value || '')"
    ></ion-input>
    <ion-input
      label="Stamina"
      label-placement="fixed"
      fill="outline"
      type="number"
      min="0"
      max="15"
      autocomplete="off"
      [clearInput]="true"
      (ionInput)="handleStaminaChange($event.detail.value || '')"
    ></ion-input>
  </ion-card-content>
</ion-card>
